{
    "schemaVersion": "1.0.0",
    "class": "Device",
    "async": true,  
    "label": "my BIG-IP declaration for declarative onboarding",
    "Common": {
        "class": "Tenant",
        "hostname": ${hostname},
        "myProvisioning": {
            "class": "Provision",
            "ltm": "nominal"
        },
        "myDns": {
            "class": "DNS",
            "nameServers": [
            ${dns}
            ]
        },
        "myNtp": {
            "class": "NTP",
            "servers": [
                ${ntp}
            ],
            "timezone": "UTC"
        },
        "public": {
            "class": "VLAN",
            "tag": 1001,
            "mtu": 1500,
            "interfaces": [
                {
                    "name": "1.1",
                    "tagged": false
                }
            ]
        },
        "public-self": {
            "class": "SelfIp",
            "address": ${public_ip},
            "vlan": "public",
            "allowService": "none",
            "trafficGroup": "traffic-group-local-only"
        },
        "private": {
            "class": "VLAN",
            "tag": 1002,
            "mtu": 1500,
            "interfaces": [
                {
                    "name": "1.2",
                    "tagged": false
                }
            ]
        },
        "private-self": {
            "class": "SelfIp",
            "address": ${private_ip},
            "vlan": "private",
            "allowService": "default",
            "trafficGroup": "traffic-group-local-only"
        },
        "default": {
          "class": "Route",
          "gw": ${public_gw},
          "network": "default"
        },
        "internalVpc": {
          "class": "Route",
          "gw": ${private_gw},
          "network": "10.0.0.0/16"
        }
    }
}